:root {
  --bg: white;
  --fg: black;
  --header-bg: var(--bg);
  --letter-back: #CCC;
  --message-bg: var(--fg);
  --message-fg: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
    --letter-back: #333;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
}

header {
  --bg: var(--header-bg);
  background-color: var(--bg);
  box-shadow: 0px 0px 2px var(--fg);
}

main {
  margin: 1em 0;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

body {
  font-family: sans-serif;
}

input {
  background-color: var(--bg);
  color: var(--fg);
  font-size: inherit;
  font-family: monospace;
  border: 1px solid var(--fg);
  border-radius: 2px;
  text-align: center;
}

crossword, guess-list, keyboard {
  perspective: 1000px;
}

crossword, guess-list {
  display: grid;
  grid-template-columns: repeat(5, 1.5em);
  grid-auto-rows: 1.5em;
  justify-content: center;
  gap: 4px;
}

guess-list letter {
  animation: flip 1s linear;
  animation-fill-mode: both;
}

letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  border: 1px solid var(--fg);
  transition: transform 1s ease-in-out, color 0s linear;
  transition-delay: 0s, 0.5s;
  user-select: none;
  transform-style: preserve-3d;
  --bg: var(--letter-back);
  background-color: var(--bg);
}

crossword letter:not(.found) {
  transform: rotateX(180deg);
  color: var(--letter-back);
}

keyboard, keyboard-row {
  gap: 0.1em;
}

keyboard {
  display: flex;
  flex-direction: column;
}

keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform-style: preserve-3d;
  flex: 1 0 1.5em;
}

keyboard button {
  --bg: var(--letter-back);
  background-color: var(--bg);
  border: 1px solid black;
  border-radius: 0.4em;
  flex: 1 1 1.5em;
  font-size: inherit;
}

keyboard button.↵,
keyboard button.⌫ {
  width: 2.25em;
}

keyboard button.a {
  margin-left: 0.75em;
}

keyboard button.l {
  margin-right: 0.75em;
}

.not-in-solution {
  --bg: grey;
}

.in-solution {
  --bg: gold;
}

.in-correct-location {
  --bg: #7A7;
}

guess-list {
  align-content: flex-start;
}

guess-list letter:nth-of-type(2) {
  animation-delay: 0.1s, 0.6s;
}

guess-list letter:nth-of-type(3) {
  animation-delay: 0.2s, 0.7s;
}

guess-list letter:nth-of-type(4) {
  animation-delay: 0.3s, 0.8s;
}

guess-list letter:nth-of-type(5) {
  animation-delay: 0.4s, 0.9s;
}

guess-list:empty:after {
  content: 'no guesses yet';
  grid-column: 1/-1;
  font-style: italic;
  opacity: 0.5;
  text-align: center;
}

message {
  padding: 0.5em;
  border-radius: 4px;
  color: var(--message-fg);
  background-color: var(--message-bg);
  display: block;
  visibility: hidden;
  opacity: 0;
}

@keyframes flip {
  0% {
    color: var(--letter-back);
    background-color: var(--letter-back);
    transform: rotateX(180deg);
  }
  49.999% {
    color: var(--letter-back);
    background-color: var(--letter-back);
  }
  50% {
    color: var(--fg);
    background-color: var(--bg);
  }
  100% {
    color: var(--fg);
    font-size: 1em;
    transform: rotateX(0deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (pointer: fine) and (min-width: 900px) {
  main {
    --column-width: 18em;
    display: grid;
    margin-left: var(--column-width);
    grid-template-columns: repeat(2, var(--column-width));
    justify-content: center;
  }
}

@media (pointer: fine) and (min-width: 1200px) {
  main {
    font-size: 1.5em;
  }
}

@media (min-width: 300px) {
  crossword {
    font-size: 1.5em;
  }
}

@media (pointer: coarse) {
  keyboard {
    width: 100%;
    max-width: 600px;
  }
}

@media (pointer: coarse) and (min-width: 300px) {
  keyboard, input {
    font-size: 1.5em;
  }
}

@media (pointer: coarse) and (min-width: 400px) {
  keyboard, input {
    font-size: 2em;
  }
}
