:root {
  --bg: white;
  --fg: black;
  --letter-back: var(--bg);
  --message-bg: var(--fg);
  --message-fg: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
    --letter-back: #333;
  }
}

h1 {
  text-align: center;
}

column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

body {
  font-family: sans-serif;
}

body, input {
  background-color: var(--bg);
  color: var(--fg);
}

crossword, guess-list {
  perspective: 400px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  gap: 4px;
}

crossword {
  font-size: 1.5em;
}

letter {
  font-family: monospace;
  font-size: 1.2em;
  position: relative;
  border: 1px solid var(--fg);
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 2em;
  transition: transform 1s ease-out;
  user-select: none;
}

letter, letter:after {
  transform-style: preserve-3d;
}

letter:after {
  content: '';
  backface-visibility: hidden;
  transform: rotateX(180deg);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--letter-back);
}

crossword letter {
  transform: rotateX(180deg);
}

crossword letter:not(.found) {
  color: var(--bg);
}

crossword letter.found {
  transform: rotateX(0deg);
}

keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.1em;
}

keyboard letter {
  border-radius: 0.4em;
  width: 1.5em;
}

guess-list letter {
  animation: flip 1s;
  animation-fill-mode: both;
}

letter.not-in-solution {
  background-color: grey;
}

letter.in-solution {
  background-color: gold;
}

letter.in-correct-location {
  background-color: #7A7;
}

guess-list {
  align-content: flex-start;
}

guess-list letter:nth-of-type(2) {
  animation-delay: 0.1s;
}

guess-list letter:nth-of-type(3) {
  animation-delay: 0.2s;
}

guess-list letter:nth-of-type(4) {
  animation-delay: 0.3s;
}

guess-list letter:nth-of-type(5) {
  animation-delay: 0.4s;
}

guess-list {
  font-size: 0.8em;
}

message {
  padding: 0.5em;
  border-radius: 4px;
  color: var(--message-fg);
  background-color: var(--message-bg);
  display: block;
  visibility: hidden;
  opacity: 0;
}

@keyframes flip {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 0;
  text-align: center;
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 18em);
    justify-content: center;
  }

  h1 {
    grid-row: 1;
    grid-column: 1/-1;
  }

  guess-list {
    font-size: 1em;
  }
}

@media (pointer: coarse) and (min-width: 400px) {
  keyboard {
    font-size: 1.4em;
  }
}

@media (pointer: coarse) and (min-width: 480px) {
  keyboard {
    font-size: 1.8em;
  }
}

@media (pointer: coarse) and (min-width: 600px) {
  keyboard {
    font-size: 2em;
  }
}


@media (max-height: 700px) {
  crossword, guess-list {
    font-size: 0.8em;
  }
}
